html, body {
    height: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #4F7942;
}

p {
    font-size: 16px;
}

a {
    color: #2e72a1;
}

#logo, .project-img {
    max-height: 300px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #e3f3df; /* green light */
    color: #555555;
}

.bg-2 {
    background-color: #78c360; /* Green dark */
    color: #ffffff;
}

.card {
    color: black;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-color: #dffaa8; /* Lavender */
    color: #ffffff;
}

.bg-4 {
    background-color: #fafccc; /* light yellow */
    color: #fff;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #2e72a1 !important;
}

#logo {
    background-color: #ECDFCC;
    padding: 10px;
    border-color: green;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;

}
